<h2>Reactives: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <!-- Field: Product -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            formControlName="name"
          />
          @if (formUtil.isInvalid(myForm.get('name'))) {
            <span class="form-text text-danger">
              <!-- Must be at least 3 characters -->
              {{ formUtil.getErrorMessage(myForm.get('name')) }}
            </span>
          }
        </div>
      </div>

      <!-- Field: Price -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product price"
            formControlName="price"
          />
          @if (formUtil.isInvalid(myForm.get('price'))) {
            <span class="form-text text-danger">
              {{ formUtil.getErrorMessage(myForm.get('price')) }}
            </span>
          }
        </div>
      </div>

      <!-- Field: Stock -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product stock"
            formControlName="inStorage"
          />

          @if (formUtil.isInvalid(myForm.get('inStorage'))) {
            <span class="form-text text-danger">
              {{ formUtil.getErrorMessage(myForm.get('inStorage')) }}
            </span>
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Errors</span>
    <pre>{{ myForm.controls['name'].errors | json }}</pre>
    <pre>{{ myForm.controls['price'].errors | json }}</pre>
    <pre>{{ myForm.controls['inStorage'].errors | json }}</pre>

    <span>Precio</span>
    <pre>{{ myForm.controls['price'].value | json }}</pre>

    <span>Producto</span>
    <pre>{{ myForm.controls['name'].value | json }}</pre>
  </div>
</div>
